div.gallery {
    padding: 0px;
    margin: 15px 0px;
    }

div.gallery div.gallery_item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-menu {
    margin-bottom: 20px;
}

.copyright p.credit {
    text-align: left !important;
    color: black;
}

p.credit {
    color: lightgray;
    font-size: x-small;
}

p.credit a {
    color: lightgray;
}
