{{ $numColumns := .Get "columns" }}

{{ if eq $numColumns 4 }}
  3
  {{ $col := 3 }}
{{ else if eq $numColumns 3 }}
  4
  {{ $col := 4 }} 
{{ else if eq $numColumns 2 }}
  6
  {{ $col := 6 }}
{{ else }}
  12
  {{ $col := 12 }}
{{ end }}
{{ $col := 4 }}  
{{ $a := $col }}
{{ with .Page.Resources.Match (.Get "path") }}
  {{ with .ByType "image" }}
	<div class="container-fluid gallery">
			<div class='row no-gutters'>
		{{ range . }}
		<div class="col-xs-12 col-sm-6 col-md-{{$col}} col-lg-6 gallery_item">
				<img src="{{ .RelPermalink }}" width="100%"/>
        </div>
		{{ end }}
			</div>
	</div>
  {{ end }}
{{ end }}